@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

a{
  text-decoration: none !important;
}

.heading{
    font-size: 3rem;
    margin-bottom: 1rem;
}

a:hover{
      transform: scale(1.1);
}

button:hover{
    transform: scale(1.1);

}

.about{
    margin-top: 10rem;
}

.myfont{
    font-family: "Josefin Sans", sans-serif;
}

.image{
    border: 1px solid transparent;
    border-radius: 50px;
}

.error{
    padding-top: 5px;
}