#bulb{
    height: 15rem;
    width: 15rem;
    border: 1px solid black;
    padding: 50;
    border-radius: 15rem;
}
#bulbhover{
    height: 15rem;
    width: 15rem;
    border: 1px solid black;
    padding: 50;
    border-radius: 15rem;
}
.minibulb{
    height: 5rem;
    width: 5rem;
    border: 1px solid black;
    padding: 50;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 50px;
    width: 100px;
    margin: 10px;
}
.maindiv{
 display: flex; 
 flex-direction: column;
gap: 60px;
}

#smartBulb{
    height: 15rem;
    width: 15rem;
    border: 1px solid black;
    padding: 50;
    border-radius: 15rem;
}

.on{
    background-color: yellow;
}
.off{
    background-color: white;
}

#violet{
    background-color: violet;
}
#indigo{
    background-color: indigo;
}
#yellow{
    background-color: yellow;
}
#orange{
    background-color: orange;
}