#delhi {
  position: absolute;
  top: 135px;
  left: 170px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#sikkim {
  position: absolute;
  top: 150px;
  left: 340px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#arunachalpradesh {
  position: absolute;
  top: 150px;
  left: 420px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#madhyapradesh {
  position: absolute;
  top: 220px;
  left: 170px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#kerela {
  position: absolute;
  top: 420px;
  left: 145px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#tamilnadu{
  position: absolute;
  top: 420px;
  left: 170px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#laddakh {
  position: absolute;
  top: 30px;
  left: 150px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#punjab {
  position: absolute;
  top: 100px;
  left: 150px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#himachalpradesh {
  position: absolute;
  top: 90px;
  left: 170px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#uttrakhand {
  position: absolute;
  top: 120px;
  left: 200px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#jammu {
  position: absolute;
  top: 60px;
  left: 140px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#haryana {
  position: absolute;
  top: 135px;
  left: 155px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}

#uttarpradesh {
  position: absolute;
  top: 170px;
  left: 230px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#bihar {
  position: absolute;
  top: 180px;
  left: 300px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}

#westbengal {
 position: absolute;
  top: 230px;
  left: 330px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#assam {
 position: absolute;
  top: 170px;
  left: 400px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}

#nagaland {
 position: absolute;
  top: 170px;
  left: 430px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#manipur{
 position: absolute;
  top: 190px;
  left: 420px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#mizoram{
 position: absolute;
  top: 220px;
  left: 410px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#meghalaya{
 position: absolute;
  top: 185px;
  left: 380px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#tripura{
 position: absolute;
  top: 210px;
  left: 390px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#jharkhand{
 position: absolute;
  top: 220px;
  left: 290px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#odisha{
 position: absolute;
  top: 260px;
  left: 270px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#maharastra{
  position: absolute;
  top: 280px;
  left: 140px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#chattisgarh{
  position: absolute;
  top: 250px;
  left: 230px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#karnataka{
  position: absolute;
  top: 350px;
  left: 140px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#andhrapradesh{
  position: absolute;
  top: 350px;
  left: 180px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#telangana{
  position: absolute;
  top: 300px;
  left: 190px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#goa{
  position: absolute;
  top: 335px;
  left: 108px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#gujrat{
  position: absolute;
  top: 230px;
  left: 60px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}
#rajasthan{
  position: absolute;
  top: 180px;
  left: 120px;
  z-index: 7;
  font-size: xx-small;
  visibility: hidden;
}