*{
    margin: 0;
    padding: 0;
}

.maindiv{
    background-color: aliceblue;
}

.links{
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
