.maindiv{

    display: flex;
    height: 200px;
    width: 700px;
    border: 1px solid black;
    padding: 40px;
    gap: 5px;
}

.btnarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 15px;
}
.innerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
       border: 1px solid black;
    padding: 15px;
}