#maidiv{
    height: 1000px;
    width: 1000px;
    display: grid;
    grid-template-columns: 200px 100px 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.subdiv{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-color: blue;
}

