.d1 {
    border: 1px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 300px;
    background-color: aquamarine;
    padding: 20px;
    margin: 50px;
}

#d2{
    margin-left: 100px;
    padding: 100px;
    background: #000;
    height: 100px;
    width: 100px;

}

#d2 span {
     background: linear-gradient(90deg, red, blue);
     -webkit-text-stroke: 0.2px #fff;
    font-size: xx-large;
    background-clip: text;
    color: transparent;
}